{% if app.request.hasPreviousSession %}
{% for type, messages in app.session.flashbag.all() %}
{% for message in messages %}
    <div data-alert class="alert-box {{ type }}">
{{ message }}
      <a href="#" class="close">&times;</a>
    </div>
{% endfor %}
{% endfor %}
{% endif %}
