{% extends 'base.html.twig' %}

{% block stylesheets %}
{% include 'partials/stylesheets.html.twig' %}
{% endblock stylesheets %}

{% block body %}
  <div>
{{ knp_menu_render('user') }}
  </div>

{% include 'partials/messages.html.twig' %}
{% block content %}{% endblock content %}
{% endblock body %}

{% block javascripts %}
{% include 'partials/javascripts.html.twig' %}
{% include 'partials/javascripts-ie.html.twig' %}
{% include 'partials/javascripts-finalize.html.twig' %}
{% endblock javascripts %}
