{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block bodyId %}registration-email{% endblock %}
{% block title %}{{ 'layout.register'|trans() }}{% endblock %}

{% block content %}
<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock content %}
